<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="encimg.app"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />

    <!--
     Con l'attributo android:required a false la app può essere installata anche su dispositivi
     senza fotocamera. Per evitare che la app tenti di accedere a questa feature se non è presente
     bisogna usare nel codice la guardia hasSystemFeature(PackageManager.FEATURE_CAMERA) se
     restituisce false si disabilitano le funzioni di accesso alla fotocamera
    -->
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <application
        android:name=".VariabiliGlobali"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".Home"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".UserPage"
            android:label="@string/app_name" >

            <!--
                <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="encimg.app.Home" />
            -->
        </activity>
        <activity
            android:name=".Scelta"
            android:label="@string/app_name" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="encimg.app.UserPage" />
        </activity>
        <activity
            android:name=".Visualizza"
            android:label="@string/app_name" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="encimg.app.UserPage" />
        </activity>
        <activity
            android:name=".Utente"
            android:label="@string/app_name" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="encimg.app.UserPage" />
        </activity>
        <activity
            android:name=".Impostazioni"
            android:label="@string/app_name" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="encimg.app.UserPage" />
        </activity>
        <activity
            android:name=".SceltaImmagine"
            android:label="@string/title_activity_scelta_immagine" >
        </activity>
    </application>

</manifest>